.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

body {
  width: 100%;
  padding: 20px;
}

.cat-info {
  padding-top: 20px;
  display: flex;
  
}

.loader-blank {
  display: flex;
  height: 360px;
  margin: auto;
}

.cat-info-desc {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}


.loader {
  display: inline-block;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: grey;
  position: relative;
  margin: auto;
}

.loader::before {
  content: '';
  position: absolute;
  left: 34px;
  bottom: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid grey;
  border-bottom-color: #FF3D00;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}